---
layout: city
title: Accra
description: Ghana
permalink: /accra/
zoom: 12
center-x: -0.1870
center-y: 5.6037
export: c650a0eb-4870-49ac-9e14-492544e21c40
---
	<style>p {display: none}</style>
	<p>Greater Accra is subject to chronic flooding, the impacts of which are increasing due to climate change and population increase. About 60% of Accra’s population lives within the Odaw basin; where frequent and severe urban flooding is a major issue.  The World Bank is working to support resilient, clean, and inclusive development in the Greater Accra Region under its Greater Accra Resilience and Integrated Development (GARID) Project. <br>
		Open Cities Accra will support the GARID project through the creation of map data to inform participatory solid waste management, and informal settlement upgrading, in these flood prone areas.  The Open Cities Accra Project will focus on the neighborhood of Alogboshie and its environs. The project will also involve the remote mapping of Nima, Akweteman and Alajo. Alogboshie is a community that is plagued by perennial flooding, with peaks during the rainy season during June and July. The effects of flooding on human life here is significant; with regular displacement and loss of property. The community is also prone to disease outbreaks.
Open Cities Accra will create a detailed and accurate map of these areas, as well as build the capacity of stakeholders within government institutions. These stakeholders include the Accra Metropolitan Assembly, the Ghana Statistical Services, the Metropolitan and Municipal District Assemblies, the Ministry of Inner Cities Development and Zongos, and the National Disaster Management Organization. This project will help government stakeholders to make data-driven decisions to improve the lives of local populations. This will include informed planning decisions, and improved disaster response capabilities.</p>
	<div class="readmore"><a href="#" id="loadMore">Read more</a></div>
	<div id="map"></div>
	<p><a class="button special" id="aerial" href="#" rel=""><span class="view">View</span><span class="hide">Hide</span> Aerial Imagery</a></p>
	{% include mapping-progress.html %}
	<iframe src="https://osm-analytics.org/#/compare/gist:c59a6d985eb9da176fdbea63a123ce11/2018...now/buildings/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>
	{% include data-quality.html %}
	<iframe src="https://osm-analytics.org/#/gaps/gist:c59a6d985eb9da176fdbea63a123ce11/buildings-vs-ghs/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>

	<script>

		var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
				'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			mbUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

		var oamAttr = 'OpenAerialMap';

		var one 		= L.tileLayer('https://tiles.openaerialmap.org/5b694a0f4b87366cc0f0fa70/0/5b694a0f4b8736ebfff0fa71/{z}/{x}/{y}', {attribution: oamAttr}),
				two 		= L.tileLayer('https://tiles.openaerialmap.org/5bb9323e9ed15b0006d24f33/0/5bb9323e9ed15b0006d24f34/{z}/{x}/{y}', {attribution: oamAttr}),
				three		= L.tileLayer('https://tiles.openaerialmap.org/5be9bb18080ac000051474fd/0/5be9bb18080ac000051474fe/{z}/{x}/{y}', {attribution: oamAttr});

		var outdoors = L.tileLayer(mbUrl, {id: 'mapbox.outdoors', attribution: mbAttr}),
	      aerial    = L.layerGroup([one, two, three]);

		var map = L.map('map', {
	    center: [5.58, -0.2],
			zoom: 13,
	    layers: [outdoors]
		});

		var baseLayers = {
			"Outdoors": outdoors
		};

		var overlays = {
			"Aerial": aerial
		};

		L.control.layers(baseLayers, overlays).addTo(map);

	</script>
