---
layout: city-gl
title: Antananarivo
description: Madagascar
permalink: /antananarivo/
zoom: 11
center-x: 47.5079
center-y: -18.8792
export: 57f6e97b-ef18-43cf-9191-b715df440185
---
<div id='intro'>
	<p>Antananarivo is located in the heart of the highlands of Madagascar; situated on twelve laterite hills and alluvial plains drained by three rivers (Ikopa, Sisoany and Mamba). The region receives an average annual rainfall of 1300mm, of which 90 percent is concentrated in the rainy season.
Antananarivo faces challenges with urban and riverine flooding, which are further complicated by ongoing issues of rapid urbanization; lack of land-use planning; informal housing; drainage and waste management; and degradation and loss of green space.<br>
		The Open Cities Africa Antananarivo project will focus on low-income formal and informal areas are the center of the city. These areas are prone to significant flood risk and face extremely high levels of poverty. The World Bank is currently preparing a series of projects in this area, which includes activities on drainage, flood protection and urban upgrading. The proposed activities will support the implementation of this investment project, and the development of follow-up projects. The products that are needed in the short term include spatial open-access datasets on housing, infrastructure and green space, to inform engagement and investment on the ground. This open data will be used to explore changes over time to better understand the urbanization process. In the longer term it could be beneficial to develop a web platform (e.g. GeoNode) to share and use geospatial information.
</p>
</div>

  <div id="map"></div>
	<p>{% include download-data.html %}</p>
	{% include mapping-progress.html %}
	<iframe src="https://osm-analytics.org/#/compare/gist:56a7bbcf49bee7fe8c23dfa8be6d207d/2018...now/buildings/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>

	{% include data-quality.html %}
	<iframe src="https://osm-analytics.org/#/gaps/gist:56a7bbcf49bee7fe8c23dfa8be6d207d/buildings-vs-ghs/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>
	
	{% include osm-community-dynamics.html %}

<script>

	mapboxgl.accessToken = 'pk.eyJ1IjoicGFvbG9wYXNxdWFsaSIsImEiOiJoVU9zSE9VIn0.O8Cehs_li5LA2aLurdEDJQ';
	var map = new mapboxgl.Map({
	    container: 'map',
	    style: 'mapbox://styles/mapbox/streets-v11',
	    zoom: 13,
	    center: [ 47.53, -18.9]
	});

	map.addControl(new mapboxgl.NavigationControl(),'top-left');
	map.dragRotate.disable();
	map.touchZoomRotate.disableRotation();
	map.scrollZoom.disable();

</script>
