---
layout: city-gl
title: Brazzaville
description: Republic of the Congo
permalink: /brazzaville/
zoom: 11
center-x: 15.2429
center-y: -4.2634
export: #
---
<div id='intro'>
	<p>With a population of 4.4 million, 64 percent of which lives in urban areas, the Republic of Congo is one of the most urbanized countries in Africa.  Efforts to manage, regulate and facilitate productive and inclusive urbanization have been inhibited by lack of effective urban planning, limited investment, and inadequate institutional capacity of key stakeholders at the national and local levels. This has resulted in a gradual deterioration of the living and working environment in the country’s main urban areas, with urban sprawl and land speculation displacing poor urban residents to areas unsuitable for settlement.  In  addition,  Government’s  failure  to  implement  proper  land  use  planning  and  titling procedures has pushed the poorest to settle in flood and erosion-prone areas thus exacerbating not only their vulnerability to climate related hazards, but also contributing to their economic, social and spatial exclusion.
The objective of this project is to integrate urban resilience in the design and implementation of an Urban  Development  and  Poor  Neighborhood  Upgrading  project  (DURQuaP),  and  build capacities/develop tools for central and local governments to be better prepared to disaster risks. Issues the project will address. Tools would include a GIS-based disaster risk management system to support basic early warning system for flooding; OpenStreetMap data to enable flood risk exposure mapping and social economic vulnerability mapping; and, associated community participatory mapping tools to enable Local Governments, in very close coordination with communities, to produce a more robust municipal basemaps.
</p>
</div>

	<div id="map"></div>
	{% include mapping-progress.html %}
	<iframe src="https://osm-analytics.org/#/compare/gist:122c8007c993054470d0ce513077a027/2018...now/buildings/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>
	{% include data-quality.html %}
	<iframe src="https://osm-analytics.org/#/gaps/gist:122c8007c993054470d0ce513077a027/buildings-vs-ghs/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>

	{% include osm-community-dynamics.html %}

	<script>

		mapboxgl.accessToken = 'pk.eyJ1IjoicGFvbG9wYXNxdWFsaSIsImEiOiJoVU9zSE9VIn0.O8Cehs_li5LA2aLurdEDJQ';
		var map = new mapboxgl.Map({
		    container: 'map',
		    style: 'mapbox://styles/mapbox/streets-v11',
		    zoom: 13,
		    center: [15.2429, -4.2634]
		});

		map.addControl(new mapboxgl.NavigationControl(),'top-left');
		map.dragRotate.disable();
		map.touchZoomRotate.disableRotation();
		map.scrollZoom.disable();

	</script>
