---
layout: city
title: Saint-Louis
description: Senegal
permalink: /saint-louis/
zoom: 11
center-x: -16.4818
center-y: 16.0326
---
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	{% include mapping-progress.html %}
	<iframe src="http://osm-analytics.org/#/compare/polygon:~_%7BcB%7Bhs_BwaP%7D%5DuxNpZ_tEwlBmhEi%5C%7DaFmfHy~O%7BzJotCecFywHezCjdWuTbaHjl%40jeC%7DYv%7BBlu%40~zAwa%40~v%40_pFmo%40un%40do%40qyAjAaoCeq%40o%7D%40zm%40uRj%5B_hCvhAfbA~UjqCnnAxcBz%5Dk_BtlDvt%40j~BrnBdsDv%5D~c%40~m%40~%60DpHbp%40hp%40%60bAe%7DAtpAzs%40dr%40~_Tmf%40znC/2016...now/buildings/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>
	{% include data-quality.html %}
	<iframe src="http://osm-analytics.org/#/gaps/polygon:~_%7BcB%7Bhs_BwaP%7D%5DuxNpZ_tEwlBmhEi%5C%7DaFmfHy~O%7BzJotCecFywHezCjdWuTbaHjl%40jeC%7DYv%7BBlu%40~zAwa%40~v%40_pFmo%40un%40do%40qyAjAaoCeq%40o%7D%40zm%40uRj%5B_hCvhAfbA~UjqCnnAxcBz%5Dk_BtlDvt%40j~BrnBdsDv%5D~c%40~m%40~%60DpHbp%40hp%40%60bAe%7DAtpAzs%40dr%40~_Tmf%40znC/buildings-vs-ghs/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>
