---
layout: city
title: Seychelles
description:
permalink: /seychelles/
zoom: 15
center-x: 55.46
center-y: -4.6
---
	<p>The majority of the Seychelles population is spread across three islands (Mahe, Praslin and La Digue). Because of the topography of the islands (flat coastal strips and/or plateaus rising into steep mountains towards the inner part of the island) many of the residential and commercial areas are located along the coast. These areas are prone to urban flooding, coastal erosion and coastal flooding. Urban flooding is a recurring problem that shows especially during the rainy season in December and January. Missing, under-dimensioned and poorly maintained drainage adds to the problem, in many districts.<br>
		While the flooding affects many sectors, the Open Cities Africa Seychelles Project is focusing on tourism. Tourism is the economic driver in the Seychelles,(next to fishing), and can be seriously impacted by the aforementioned hazards. Together with the Tourism Department and the Department for Disaster and Risk Management the Open Cities Africa Seychelles Project will collect data on tourism establishments and public buildings (schools, day-cares, etc.) located in the coastal areas (areas below 10m elevation) on the islands of Mahe, Praslin and La Digue.<br>
		Details to be collected include occupancy of the building, material, number of floors, whether the building is elevated, location of assembly points, etc. This will help the stakeholders to better understand and visualize risk and lead to more informed decisions at the various phases of disaster risk management e.g. to improve preparedness and plan for evacuation.<br>
		For the mapping and data collection activities the Project is engaging local communities (such as secondary school teachers and students) and building capacity within these communities. The Project will train community members on state-of-art geospatial technology that will enable them to collect/capture, analyze, visualize and share data for numerous purposes i.e. even beyond the scope of this project.</p>
	{% include mapping-progress.html %}
	<iframe src="http://osm-analytics.org/#/compare/polygon:cnlqId%60e%5BgB%7CYmKg%40ma%40z%40kBuX%7BMgRdU%7BO~%5DqGdNx%5B/2016...now/buildings/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>
	{% include data-quality.html %}
	<iframe src="http://osm-analytics.org/#/gaps/polygon:cnlqId%60e%5BgB%7CYmKg%40ma%40z%40kBuX%7BMgRdU%7BO~%5DqGdNx%5B/buildings-vs-ghs/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>
