---
layout: city-gl
title: Yaounde
description: Cameroon
permalink: /yaounde/
zoom: 15
center-x: 11.51943093
center-y: 3.86758933
export: 
---
<div id='intro'>
	<p>The Government of Cameroon through the Inclusive and Resilient Cities Development Project (IRCDP), is working with the World Bank to improve urban management, access to infrastructure, and resilience to natural hazards in several cities. IRCDP aims to integrate climate change adaptation and disaster risk management into development planning and strengthen the capacity of academics and professionals to support planning for resilient development. </p>
		<p>In Yaoundé's Municipalities 5 and 7, the SOGEFI - IRD consortium will : i) design and facilitate the implementation of a risk understanding curriculum comprising several block courses in close collaboration with local universities; ii) in collaboration with the OpenStreetMap Cameroon association, ensure the collection of existing and new data on disaster risks, including exposure data; iii) produce flood risk maps based on the results of flood modelling; and iv) provide technical assistance to integrate risk information into urban land use plans and urban development projects in Yaoundé.</p>
</div>

	<div id="map"></div>

	{% include mapping-progress.html %}
	<iframe src="https://osm-analytics.org/#/compare/gist:d65165d75a0ad9dcb58b7e11374bf7bd/2019...now/buildings/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>

    {% include data-quality.html %}
    <iframe src="https://osm-analytics.org/#/gaps/gist:d65165d75a0ad9dcb58b7e11374bf7bd/buildings-vs-ghs/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>
    
<script>

	mapboxgl.accessToken = 'pk.eyJ1IjoicGFvbG9wYXNxdWFsaSIsImEiOiJoVU9zSE9VIn0.O8Cehs_li5LA2aLurdEDJQ';
	var map = new mapboxgl.Map({
	    container: 'map',
	    style: 'mapbox://styles/mapbox/streets-v11',
	    zoom: 10,
	    center: [11.51943093, 3.86758933]
	});

</script>
