---
layout: city
title: Zanzibar City
description: Tanzania
permalink: /zanzibar-city/
zoom: 14
center-x: 39.2
center-y: -6.1622
export: 7d24c924-1b58-4053-9037-4067355b0093
---
  <style>p {display: none}</style>
	<p>Zanzibar City, a low lying city off the coast of Tanzania enjoys a historic heritage and functions as a hub of business and administration for the Zanzibar isles.  However, as a highly dense city, with unplanned communities, and poor infrastructure, it is faced with a cyclic problem of urban flooding.  Urban flooding has multiplier effect on people’s health, economic wellbeing and social interactions. Urban infrastructure is severely damaged by these floods, and households in the vulnerable zones are subjected to harsh disturbance during rains; including, but not limited to the destruction of property and population displacement.  Habitual flooding is also correlated with cholera outbreaks in the fringes of the city.</p>
  <p>In 2016, at the request of Zanzibar Commission for Lands (COLA), World Bank launched the Zanzibar Mapping Initiative (ZMI). The goal of ZMI was to update Zanzibar's existing aerial imagery with a newly acquired set at a spatial resolution of 7 cm per pixel, using only drones piloted by local teams. The imagery will be accessible to the OpenData community on a Geonode platform providing visualization and integration via online mapping services but also data access through download.<br>
		The Zanzibar Urban Planning Department, the Zanzibar Commission for Disasters as well as Municipal councils are engaging in sustainable planning in an attempt to reduce the impacts related to these recurring floods. The key project objective of Open Cities Zanzibar is to contribute to the development of Zanzibar’s resilience to urban flooding through the creation of ready to use, accessible spatial data; which will aid the planning process and subsequent interventions.</p>
  <div id="map"></div>
  {% include mapping-progress.html %}
  <iframe src="https://osm-analytics.org/#/compare/gist:75f8f33ce165a6903cd11c0cdf4579a4/2018...now/buildings/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>
  {% include data-quality.html %}
  <iframe src="https://osm-analytics.org/#/gaps/gist:75f8f33ce165a6903cd11c0cdf4579a4/buildings-vs-ghs/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>

  <script>

		var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
				'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			mbUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

		var oamAttr = 'OpenAerialMap';

		var outdoors = L.tileLayer(mbUrl, {id: 'mapbox.outdoors', attribution: mbAttr});

		var map = L.map('map', {
	    center: [-6.1622, 39.2],
			zoom: 13,
	    layers: [outdoors]
		});

		var baseLayers = {
			"Outdoors": outdoors
		};

		L.control.layers(baseLayers).addTo(map);

	</script>
