---
layout: city
title: Kampala
description: Uganda
permalink: /uganda/kampala/
zoom: 11
center-x: 32.5825
center-y: 0.32
export: 7f29cb00-9469-471e-a78b-aa42eb1c5214
---

<p>The World Bank is supporting the Government of Uganda to increase resilience against droughts and food insecurity through a Disaster Risk Financing (DRF) program. One goal of this program is to improve access to baseline data and risk related information to quicken the decision making process. The <a href="/uganda/">Uganda Open Mapping Program</a> is aims to develop technical capacity at the local and national level in the open mapping. Ggaba parish, Kampala has been identified as the priority area to be mapped.
Under the supervision of the World Bank, a team of local companies (MapUganda and GeoGecko) and international entities (HOT and ITHACA) are working to ensure that the planned activities are successfully carried out and the expected outcomes are met. Local and national stakeholders (UBOS, KCCA, OPM) are involved since the beginning of the project to provide requirements in terms of features and attributes to be mapped and support the identification of the most suitable target area in Kampala.
One of the main goal is to significantly increase the coverage and the level of detail of reference cartographic data in a target area in Kampala, enabling national and local authorities (e.g. UBOS and KCCA) as well as other institutions/companies to exploit such data for their mandate and for facilitating their daily tasks, such as; addressing risk management related tasks; keeping updated health and education facility inventories; supporting the census data collection and management; and, showcasing the mapping and analytical power of the data collected.
</p>
<div id="map"></div>
{% include mapping-progress.html %}
<iframe src="https://osm-analytics.org/#/compare/gist:f3a5a7c9a69dad39a0098295b4afea7a/2018...now/buildings/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>
{% include data-quality.html %}
<iframe src="https://osm-analytics.org/#/gaps/gist:f3a5a7c9a69dad39a0098295b4afea7a/buildings-vs-ghs/embed/opendri" scrolling="no" width="100%" height="600" ></iframe>

<script>

	var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		mbUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

	var outdoors = L.tileLayer(mbUrl, {id: 'mapbox.outdoors', attribution: mbAttr}),
      aerial    = L.tileLayer('https://tiles.openaerialmap.org/5bbefc2efb28140006123424/0/5bbefc2efb28140006123425/{z}/{x}/{y}', {
                  'attribution': 'OpenAerialMap'
                });
	var map = L.map('map', {
    center: [0.2559382152503518, 32.63544023036957],
		zoom: 12,
    layers: [outdoors, aerial]
	});

	var baseLayers = {
		"Outdoors": outdoors
	};

	var overlays = {
		"Aerial": aerial
	};

	L.control.layers(baseLayers, overlays).addTo(map);

</script>
