<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <div class="row">
      <div class="left-logos">
        <p>An initiative of</p>
        <a href="https://opendri.org/" title="The Open Data for Resilience Initiative website" target="_blank">
          <img src="/images/odri-full-neg.png" alt="The Open Data for Resilience Initiative logo">
        </a>
        <a href="https://www.gfdrr.org/" title="The Global Facility for Disaster Reduction and Recovery website" target="_blank">
          <img src="/images/gfdrr-logo.png" alt="The Global Facility for Disaster Reduction and Recovery logo">
        </a>
        <a href="https://www.worldbank.org/" title="The World Bank Group website" target="_blank">
          <img src="/images/world-bank-group.png" alt="The World Bank Group logo">
        </a>
        <div style="clear:both"></div>
        <p>Supported by</p>
        <a href="https://europa.eu/capacity4dev/drr-acp/minisite/acp-eu-cooperation-disaster-risk-reduction/acp-eu-building-disaster-resilience-sub-saharan-" title="The Building Disaster Resilience to Natural Hazards in Sub-Saharan Africa Program website" target="_blank">
          <img class="small-logo" src="/images/eu-acp-logo.png" alt="The Building Disaster Resilience to Natural Hazards in Sub-Saharan Africa Program logo">
        </a>
        <a href="https://www.crews-initiative.org/en" title="Crews website" target="_blank">
          <img src="/images/crews.png" alt="Crews logo">
        </a>
        <a href="https://diplomatie.belgium.be/en/policy/development_cooperation/who_we_are/our_organisation/dgd/introduction" title="Belgian development cooperation" target="_blank">
          <img src="/images/cbd-logo-white.png">
        </a>
      </div>
    </div>
  </div>
  <div class="inner">
    <div class="row">
      <div class="left-logos">
        <p>Implementing partners</p>
        <a href="https://www.hotosm.org/" title="Humanitarian OpenStreetMap Team website" target="_blank">
          <img src="/images/hot.png" alt="Humanitarian OpenStreetMap Team logo">
        </a>
        <a href="http://mobilewebghana.org/" title="Mobile Web Ghana website" target="_blank">
          <img src="/images/mwg.png" alt="Mobile Web Ghana logo">
        </a>
        <a href="https://www.ilabliberia.org/" title="Ilab Liberia website" target="_blank">
          <img src="/images/ilab-liberia.png" alt="Ilab Liberia logo">
        </a>
        <a href="http://immergis.fr/en/" title="ImmerGIS website" target="_blank">
          <img src="/images/immergis.png" alt="ImmerGIS logo">
        </a>
        <a href="https://www.habaka.org/" title="Habaka website" target="_blank">
          <img src="/images/habaka.png" alt="Habaka logo">
        </a>
        <a href="http://dmt.osfac.net/pages/about.php?lang=en" title="OSFAC website" target="_blank">
          <img src="/images/osfac.png" alt="OSFAC logo">
        </a>
        <a href="http://mapuganda.org/" title="MapUganda website" target="_blank">
          <img src="/images/mapuganda.png" alt="MapUganda logo">
        </a>
        <a href="http://spatialcollective.com/" title="Spatial Collective website" target="_blank">
          <img src="/images/spatialcollective.png" alt="Spatial Collective logo">
        </a>
        <a href="https://www.allspatial.sc/index.html" title="AllSpatial website" target="_blank">
          <img src="/images/allspatial.jpg" alt="AllSpatial">
        </a>
        <a href="http://acager.org/" title="Acager website" target="_blank">
          <img src="/images/acager.png" alt="Acager logo">
        </a>
        <a href="http://sogefi.cm/" title="Sogefi Cameroon website" target="_blank">
          <img src="/images/sogefi.png" alt="Sogefi Cameroon logo">
        </a>
        <a href="http://www.ithacaweb.org/" title="ITHACA website" target="_blank">
          <img src="/images/ithaca.png" alt="ITHACA logo">
        </a>
        <a href="https://www.umng.cg/" title="University Marien Ngouabi website" target="_blank">
          <img src="/images/umng.png" alt="University Marien Ngouabi logo">
        </a>
        <a href="https://www.ucac-icam.com/ucac-icam/nos-campus/pointe-noire/" title="Ucac-Icam website" target="_blank">
          <img src="/images/ucac-icam.png" alt="Ucac-Icam logo">
        </a>
        <a href="http://groupehuit.com/en" title="Groupe Huit website" target="_blank">
          <img src="/images/groupe-huit.png" alt="Groupe Huit logo">
        </a>
        <a href="http://osmghana.org" title="OpenStreetMap Ghana website" target="_blank">
          <img src="/images/osmghana-white.png" alt="OpenStreetMap Ghana logo">
        </a>
      </div>
    </div>
  </div>
  <div class="inner" style="padding-top: 2em">
  <p class="copyright"><small>Website Design based on <a href="http://html5up.net" target="_blank">HTML5 UP</a></small></p>
  </div>
</footer>
