<h3 id="mapping-status" class="anchor">Mapping Progress to Date</h3>
<span>This section provides an overview of mapping activities in the selected city geographic extent. The Before/After widget below allows comparing current density and distribution of map features with snapshots from previous years. The time chart of OSM editing activity over time offers insights on how many features have been contributed to the map over a specified period.</span>
<div id="overallStats" style="margin-top:2em"></div>
