<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoic21pY2tpZSIsImEiOiJjaWtiM2JkdW0wMDJudnRseTY0NWdrbjFnIn0.WxGYL18BJjWUiNIu-r3MSA';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/satellite-v9',
      zoom: 2,
      center: [20, -5],
      interactive: true
    });

    map.on('style.load', function (e) {
      map.addSource('labels', {
          "type": "geojson",
          "data": {
              "type": "FeatureCollection",
              "features": [{
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [-4.0161070,  5.3203570]
                  },
                  "properties": {
                      "title": "Abidjan",
                      "description": "Abidjan, Côte d’Ivoire",
                      "url": "abidjan",
                      "modelId": 2,
                  }
              }, 
                  {
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [-0.1870, 5.6037]
                  },
                  "properties": {
                      "title": "Accra",
                      "description": "Accra, Ghana",
                      "url": "accra",
                      "modelId": 5,
                  }
              }, {
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [47.5079, -18.8792]
                  },
                  "properties": {
                    "title": "Antananarivo",
                    "description": "Antananarivo, Madagascar",
                    "url": "antananarivo",
                    "modelId": 2,
                  }
              }, {
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [-8.002889, 12.6493190]
                  },
                  "properties": {
                    "title": "Bamako",
                    "description": "Bamako, Mali",
                    "url": "bamako",
                    "modelId": 4,
                  }
              }, {
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [15.2429, -4.2634]
                  },
                  "properties": {
                    "title": "Brazzaville",
                    "description": "Brazzaville, ROC",
                    "url": "brazzaville",
                    "modelId": 4,
                  }
              }, {
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [39.2830, -6.8194]
                  },
                  "properties": {
                    "title": "Dar es Salaam",
                    "description": "Dar es Salaam, Tanzania",
                    "url": "dar-es-salaam",
                    "modelId": 5,
                  }
              }, 
               {
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [32.5825, 0.3476]
                  },
                  "properties": {
                    "title": "Kampala",
                    "description": "Kampala, Uganda",
                    "url": "uganda/kampala",
                    "modelId": 2,
                  }
              }, {
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [15.2663, -4.5]
                  },
                  "properties": {
                    "title": "Kinshasa",
                    "description": "Kinshasa, DRC",
                    "url": "kinshasa",
                    "modelId": 5,
                  }
              }, {
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [-10.7605, 6.2907]
                  },
                  "properties": {
                    "title": "Monrovia",
                    "description": "Monrovia, Liberia",
                    "url": "monrovia",
                    "modelId": 3,
                  }
              }, {
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [2.1098230, 13.5248340]
                  },
                  "properties": {
                    "title": "Niamey",
                    "description": "Niamey, Niger",
                    "url": "niamey",
                    "modelId": 2,
                  }
              }, 
               {
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [13.5668, 7.3381]
                  },
                  "properties": {
                    "title": "Ngaoundéré",
                    "description": "Ngaoundéré, Cameroon",
                    "url": "ngaoundere",
                    "modelId": 2,
                  }
              }, {
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [11.8664, -4.7692]
                  },
                  "properties": {
                    "title": "Pointe-Noire",
                    "description": "Pointe-Noire, ROC",
                    "url": "pointe-noire",
                    "modelId": 3,
                  }
              }, {
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [-16.4818, 16.0326]
                  },
                  "properties": {
                    "title": "Saint-Louis",
                    "description": "Saint-Louis, Senegal",
                    "url": "saint-louis",
                    "modelId": 3,
                  }
              }, {
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [55.4513, -4.6191]
                  },
                  "properties": {
                    "title": "Seychelles",
                    "description": "Seychelles",
                    "url": "seychelles",
                    "modelId": 2,
                  }
              }, {
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [11.51943093, 3.86758933]
                  },
                  "properties": {
                    "title": "Yaounde",
                    "description": "Yaounde, Cameroon",
                    "url": "yaounde",
                    "modelId": 5,
                  }
              },
              {
                  "type": "Feature",
                  "geometry": {
                      "type": "Point",
                      "coordinates": [39.1921, -6.1622]
                  },
                  "properties": {
                    "title": "Zanzibar City",
                    "description": "Zanzibar City, Tanzania",
                    "url": "zanzibar-city",
                    "modelId": 2,
                  }
              }]
          }
      });
      map.addLayer({
          "id": "circles",
          "source": "labels",
          "type": "circle",
          "paint": {
              "circle-radius": 8,
              "circle-color": "#fff",
              "circle-opacity": 0.4,
              "circle-stroke-color": "#fff",
              "circle-stroke-width": 1.5,
          },
      });
      map.addLayer({
          "id": "labels",
          "source": "labels",
          "type": "symbol",
          "layout": {
            "text-field": "{title}",
            "text-font": ["Open Sans Semibold"],
            "text-offset": [0, -2.25],
            "text-anchor": "top",
            "text-size": 11,
            "text-allow-overlap": true,
            "text-ignore-placement": true,
          },
          "paint": {"text-color": "#ffffff"},
          "filter": ["==", "modelId", 2],
      });
      map.addLayer({
          "id": "labels-3",
          "source": "labels",
          "type": "symbol",
          "layout": {
            "text-field": "{title}",
            "text-font": ["Open Sans Semibold"],
            "text-offset": [-1.25, 0],
            "text-anchor": "right",
            "text-size": 11,
            "text-allow-overlap": true,
            "text-ignore-placement": true,
          },
          "paint": {"text-color": "#ffffff"},
          "filter": ["==", "modelId", 3],
      });
      map.addLayer({
          "id": "labels-4",
          "source": "labels",
          "type": "symbol",
          "layout": {
            "text-field": "{title}",
            "text-font": ["Open Sans Semibold"],
            "text-offset": [0, -1],
            "text-anchor": "bottom-left",
            "text-size": 11,
            "text-allow-overlap": true,
            "text-ignore-placement": true,
          },
          "paint": {"text-color": "#ffffff"},
          "filter": ["==", "modelId", 4],
      });
      map.addLayer({
          "id": "labels-5",
          "source": "labels",
          "type": "symbol",
          "layout": {
            "text-field": "{title}",
            "text-font": ["Open Sans Semibold"],
            "text-offset": [0.5, 1],
            "text-anchor": "top-left",
            "text-size": 11,
            "text-allow-overlap": true,
            "text-ignore-placement": true,
          },
          "paint": {"text-color": "#ffffff"},
          "filter": ["==", "modelId", 5],
      });
    });
    // disable map rotation using right click + drag
    map.dragRotate.disable();

    // disable map rotation using touch rotation gesture
    map.touchZoomRotate.disableRotation();

    // When a click event occurs on a feature in the places layer, open a popup at the
    // location of the feature, with description HTML from its properties.
    map.on('click', 'circles', function (e) {
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;
        var url = e.features[0].properties.url;

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        new mapboxgl.Popup()
            .setLngLat(coordinates)
            //.setHTML(description)
            .setHTML('<p><a href="/'+ url +'/">' + description + '</a></p>')
            .addTo(map);
    });

    // Change the cursor to a pointer when the mouse is over the places layer.
    map.on('mouseenter', 'circles', function () {
        map.getCanvas().style.cursor = 'pointer';
    });

    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'circles', function () {
        map.getCanvas().style.cursor = '';
    });

    map.scrollZoom.disable();

</script>
