<!DOCTYPE html>
<html>

  {% include cityhead.html %}

  <body class="city">

    <div id="page-wrapper">

      {% include header.html %}

<article id="main">

  <section id="one" class="wrapper style1 special">
    <div class="inner">
      <header class="major">
        <h1>{{ page.title }}</h1>
      </header>
    </div>
  </section>

  <section class="wrapper style5">
    <div class="inner">
      <h3>{{ page.title }}, {{ page.description }}</h3>
        {{ content }}
      <h3>OSM Community Dynamics</h3>
      <span>Understanding mapping progress and data quality also requires looking at the local OSM community and how mappers have contributed over time. Embedded widgets in this sections allow e.g. exploring the list of top mappers who contributed to features within the city extent, with links to their OSM user profile page. A time chart of number of user contributions over pre-defined time periods (daily, weekly, monthly), also provides a picture of how consistent the mapping activity in the area is.</span>
      <h4 style="margin-top:2em">Date Range <span id="dates"></span></h4>
    		<div class="project-box">
          <dl>
            <dd id="activity">
              <div style="background-color: #f0f0f0;height: 320px;margin: 1rem 0;width: 100%;background-image: url(/images/loading_2x_360.gif);background-repeat: no-repeat;background-position: center;background-size: 35px;"></div>
            </dd>
          </dl>
        </div>
        <div id="contributors"></div>
        <span><span id="buildingsUsers"></span> users made <span id="buildingsActivity"></span> contributions</span>
        <h3 id="access-to-data" class="anchor">Access to Data</h3>
      	<p><a class="button special" href="https://export.hotosm.org/en/v3/exports/{{ page.export }}" rel="">Download {{ page.title }} data</a></p>

    </div>
  </section>

  <div></div>

</article>

{% include footer.html %}

</div>

<script type="text/javascript" src="/js{{ page.permalink }}bundle.js"></script>
<script src="/js/env.js" charset="utf-8"></script>
<script src="/js{{ page.permalink }}app.js" charset="utf-8"></script>
{% include scripts.html %}
<script>
/*
Load more content with jQuery - May 21, 2013
(c) 2013 @ElmahdiMahmoud
*/

$(function () {
  $("p").slice(0, 4).show();
  $("#loadMore").on('click', function (e) {
      e.preventDefault();
      $("p:hidden").slice(0, 4).slideDown();
      if ($("p:hidden").length == 0) {
          $("#loadMore").fadeOut('slow');
      }
      $('html,body').animate({
          scrollTop: $(this).offset().top
      }, 1500);
  });
});
</script>

<script>
$("#aerial").click(function(event) {
  event.preventDefault();
  if(map.hasLayer(aerial)) {
    $(this).removeClass('selected');
    map.removeLayer(aerial);
  } else {
    map.addLayer(aerial);
    $(this).addClass('selected');
    }
  });
</script>

</body>

</html>
