---
layout: default
---
<article id="main">

  <div id="map">
    <header>
      <h4>Open Cities</h4>
      <h2>{{ page.title }}</h2>
      <p>{{ page.description }}</p>
    </header>
  </div>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
      <h4>Showing dates <span id="dates"></span></h4>
    		<div class="project-box">
          <dl>
            <dt>Daily activity in the area</dt>
            <dd id="activity">
              <div style="background-color: #f0f0f0;height: 320px;margin: 1rem 0;width: 100%;background-image: url(/images/loading_2x_360.gif);background-repeat: no-repeat;background-position: center;background-size: 35px;"></div>
            </dd>
          </dl>
        </div>
        <div id="overallStats"></div>
    		<hr>
        <h2>Inline statistics</h2>
        <p>In a given range, <span id="buildingsUsers"></span> users made <span id="buildingsActivity"></span> contributions</p>
        <div id="contributors"></div>
    </div>
  </section>

  <div></div>

</article>

{% include citymap.html %}

<script type="text/javascript" src="/js/{{ page.permalink }}/bundle.js"></script>
<script src="/js/env.js" charset="utf-8"></script>
<script src="/js/{{ page.permalink }}/app.js" charset="utf-8"></script>
